.custom-button {
    transition: all 0.5s ease-out;
}

.custom-button__above {
    transition: all 0.5s ease-out;
    margin-top: -0.5vh;
    position: absolute;
    margin-left: -0.5vh;
}

.custom-button__above--hover {
    transition: all 0.25s ease-out;
    margin-top: -0.25vh;
    position: absolute;
    margin-left: -0.15vh;
}

.custom-button__above--none {
    transition: all 0.5s ease-out;
    position: absolute;
    margin-left: 0vh;
}