@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
}

.background {
    width: 100%;
    height: 100vh;
    position: relative;
}

.square-title {
    width: 2.25vw;
    height: 2.25vw;
    position: absolute;
    top: 0%;
    left: 0vh;
}

.page-title {
    position: absolute;
    font-size: 6vw;
    left: 3vw;
    top: 1vw;
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button {
    cursor: pointer;
    background-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

input, button, submit {
    border:none;
    outline: none;
}