/* background */

.blue-color--back {
    background-color: #005FFF;
}

.orange-color--back {
    background-color: #F7931E;
}

.white-color--back {
    background-color: #ffffff;
}

.black-color--back {
    background-color: #000000;
}


/* fill */

.blue-color--fill {
    fill: #005FFF;
}

.orange-color--fill {
    fill: #F7931E;
}

.white-color--fill {
    fill: #ffffff;
}

.black-color-fill {
    fill: #000000;
}


/* border */

.blue-color--border {
    border-color: #005FFF;
}

.orange-color--border {
    border-color: #F7931E;
}

.white-color--border {
    border-color: #ffffff;
}

.black-color--border {
    border-color: #000000;
}


/* text */

.blue-color {
    color: #005FFF;
}

.orange-color {
    color: #F7931E;
}

.white-color {
    color: #ffffff;
}

.black-color {
    color: #000000;
}


/* font */

.font-first {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.font-second {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
}

.transparent {
    opacity: 0;
}


/* admin */

.admin-main-button {
    margin-top: 2.5vh;
    margin-left: 2.5vh;
}

.admin-main-button--container {
    display: flex;
    flex-direction: row;
}