.login--form--container {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 20vh;
}

.login-button {
    margin-top: 5vh;
}

.login-error {
    font-size: 2vh;
    height: 2.5vh;
}