.home-button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    left: 65vw;
}

.nav-button-home-container {
    position: relative;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
}

.nav-button-home__above {
    transition: all 0.5s ease-out;
    position: absolute;
    margin-top: -0.7vh;
    margin-left: -0.7vh;
}

.nav-button-home__above--hover {
    transition: all 0.25s ease-out;
    position: absolute;
    margin-top: -0.25vh;
    margin-left: -0.25vh;
}

.nav-button-home--square {
    height: 1vw;
    width: 1vw;
}

.nav-button-home--text {
    font-size: 5vw;
}

.home-logo-element--name {
    position: absolute;
    width: 45vw;
    top: 18.5vh;
    left: 15vw;
    top: 50%;
    animation-name: home-logo-element--name__floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.home-logo-element--triangle {
    position: absolute;
    width: 39.1vw;
    top: 50%;
    transform: translateY(-47.5%);
    animation-name: home-logo-element--triangle__floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes home-logo-element--name__floating {
    from    { transform: translateY(-48%); }
    65%     { transform: translateY(-53%); }
    to      { transform: translateY(-48%); }
}

@keyframes home-logo-element--triangle__floating {
    from    { transform: translateY(-53%); }
    45%     { transform: translateY(-48%); }
    to      { transform: translateY(-53%); }
}