.home-button-container {
    position: absolute;
    left: 70vw;
    top: 35vh;
}

.nav-button-home-container {
    position: relative;
    margin-bottom: 17vh;
}

.nav-button-home__marging {
    transition: all 0.1s ease-out 0.1s;
    top: 0.5vw;
    left: 0.5vw;
    position: absolute;
    display: flex;
}

.nav-button-home__marging--hover {
    transition: all 0.1s ease-out 0.1s;
    top: 0vw;
    left: 0vw;
    position: absolute;
    display: flex;
}

.nav-button-home--square {
    width: 1vw;
    height: 1vw;
    margin-right: 0.7vw;
}

.nav-button-home--text {
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    font-weight: 900;
    margin-top: 1vh;
}

.home-logo-element {
    animation-iteration-count: infinite;
    transition: all 0.1s ease-out 0.1s;
    position: absolute;
    width: 45vw;
    top: 18.5vh;
    left: 20vw;
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  }

  @-webkit-keyframes rotating{
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes rotating {
    from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}