.home-button-container {
    position: absolute;
    left: 70vw;
    top: 35vh;
}

.nav-button-home-container {
    position: relative;
    margin-bottom: 17vh;
}

.nav-button-home__marging {
    transition: all 0.1s ease-out 0.1s;
    top: 0.5vw;
    left: 0.5vw;
    position: absolute;
    display: flex;
}

.nav-button-home__marging--hover {
    transition: all 0.1s ease-out 0.1s;
    top: 0vw;
    left: 0vw;
    position: absolute;
    display: flex;
}

.nav-button-home--square {
    width: 1vw;
    height: 1vw;
    margin-right: 0.7vw;
}

.nav-button-home--text {
    font-size: 5vw;
    margin-top: 1vh;
}

.home-logo-element--name {
    position: absolute;
    width: 45vw;
    top: 18.5vh;
    left: 15vw;
    top: 50%;
    transform: translateY(-50%);
}

.home-logo-element--triangle {
  position: absolute;
  width: 39.1vw;
  top: 50%;
  transform: translateY(-47.5%);
}
