.navigation__container {
    position: absolute;
    display: flex;
    width: 100%;
    right: 0%;
    top: 1vh;
    justify-content: flex-end;
}

.navigation__name-container {
    margin-left: 2%;
    margin-right: 2%;
}

.navigation__name-text {
    font-family: 'Roboto Slab', serif;
    font-size: 1.7vw;
    font-weight: 700;
}