.partner-carrousel--container {
    display: flex;
    position: absolute;
}

.partner-card-focused--text--container {
    display: flex;
    align-items: center;
    margin-top: -1.7vh;
    height: 5.5vh;
    left: 44%;
    position: absolute;
}

.partner-card-focused--text {
    font-size: 4.5vh;
}

.partner-card-focused--square {
    height: 2vh;
    width: 2vh;
    margin-left: 0.25vw;
    margin-right: 1vh;
}

.partner-card-focused--background__extern {
    transition: background-color 0.35s ease-in-out;
    border-bottom-right-radius: 5.5vh;
    height: 50vh;
    width: 35vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 3.8vh;
    padding: 1vh;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.50);
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}

.front,
.back
{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
}

.back-hidden {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    top: 0;
    left: 0;
    transform: rotateY(180deg) translateZ(1px);
    -webkit-transform: rotateY(180deg) translateZ(1px);
    -moz-transform: rotateY(180deg) translateZ(1px);
    -ms-transform: rotateY(180deg) translateZ(1px);
}

.partner-card-focused--background__intern {
    border-bottom-right-radius: 4.5vh;
    height: 50vh;
    width: 35vh;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.partner-card-focused--image {
    position: relative;
    z-index: 1;
    width: 100%;
}

.partner-card-focused--description {
    position: fixed;
    margin: 1vh;
    font-size: 2vh;
    display: block;
}

.partner-card--background {
    transition: background-color 0.2s ease-in-out;
    height: 39vh;
    width: 27vh;
    padding: 1vh;
    margin-left: 2vw;
    margin-right: 2vw;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.50);
    position: relative;
}

.partner-card--text {
    transition: all 0.35s ease-in-out;
    writing-mode: vertical-rl;
    font-size: 3vh;
    top: 3vh;
    left: 2.25vh;
    position: absolute;
}

.partner-card--text--hover {
    transition: all 0.35s ease-in-out;
    writing-mode: vertical-rl;
    font-size: 4vh;
    top: 4vh;
    left: 3.25vh;
    position: absolute;
}

.partner-card--square {
    height: 1.5vh;
    width: 1.5vh;
}