#info-page {
    overflow: hidden;
}

.info-contacts-line {
    display: flex;
    justify-content: flex-start;
    margin-left:  7vw;
    margin-right: 14vw;
    position: relative;
}

.info-slogan--container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-slogan--text {
    font-size: 7vw;
}

.info-slogan--title {
    font-size: 10.5vw;
}

.info-slogan--text__adjustement {
    margin-top: -1vh;
}

.info-contacts-title--container {
    margin-left:  5vw;
    justify-content: left;
    display: flex;
    margin-bottom: 1vh;
}

.info-contacts-title--square {
    width: 1.5vw;
    height: 1.5vw;
}

.info-contacts-title--text {
    margin-left:  0.25vw;
    font-size: 4.5vw;
    margin-top: 0.5vh;
}

.info-footer {
    position: absolute;
    bottom: 5vh;
    width: 100vw;
}

.info-sticker-bar {
    position: absolute;
    overflow: hidden;
    left: -20vw;
    top: 10vw;
    transform: rotate(-55.96deg);
}